@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models

@model ScopeListModel

@{
    ViewBag.Title = "AuthCentral Scope Administration";
}

<div class="page-header">
    <h1>Scope Administration</h1>
</div>
@foreach (ScopeModel scope in Model.Scopes)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 >@scope.Name</h3>
        </div>
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-danger">
                        @Html.ValidationSummary("Please correct the following errors")
                    </div>
                </div>
            </div>
        }
        <div class="panel-body panel-group">
            <div class="row panel">
                <div class="col-md-12">@scope.Description</div>
            </div>
            <div id="show_@scope.Name">
                <div class="row">
                    <div class="col-md-3 text-right">
                        <strong>Show in discovery</strong>
                    </div>
                    <div class="col-md-1 text-left">@scope.ShowInDiscoveryDocument.ToString()</div>
                    <div class="col-md-3 text-right"><strong>Emphasize</strong>
                    </div>
                    <div class="col-md-1 text-left">@scope.Emphasize.ToString()</div>
                    <div class="col-md-3 text-right"><strong>Enabled</strong>
                    </div>
                    <div class="col-md-1 text-left">@scope.Enabled</div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right"><strong >Include all claims for users</strong>
                    </div>
                    <div class="col-md-1 text-left">@scope.IncludeAllClaimsForUser.ToString()</div>
                    <div class="col-md-3 text-right"><strong >Required</strong>
                    </div>
                    <div class="col-md-1 text-left">@scope.Emphasize.ToString()</div>
                    <div class="col-md-3 text-right"><strong >Type</strong>
                    </div>
                    <div class="col-md-1 text-left">@scope.Type</div>
                </div>
            </div>
            <div id="edit_@scope.Name" class="hidden">
                @using (@Html.BeginForm("Edit", "Scope", FormMethod.Post, new {@class="form-horizontal"}))
                {
                    @Html.EditorFor(model => scope)
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-default" type="button" onclick="$('#edit_@scope.Name').addClass('hidden'); $('#show_@scope.Name').removeClass('hidden'); $('#editScopeBtn_@scope.Name').removeClass('hidden');">Cancel</button>
                    </div>
                }
            </div>
            <div class="row">
                <div class="panel panel-default col-sm-offset-1 col-md-offset-1">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#claims_@scope.Name">Claims</a>
                        </h4>
                    </div>
                    <div id="claims_@scope.Name" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Claim</th>
                                    <th>Description</th>
                                    <th>Always Included in Token</th>
                                    <th>Edit | Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var claim in scope.Claims)
                                {
                                    string claimName = claim.Name;
                                    string safeClaimName = claimName.Replace(':', '_');
                                    string showRow = $"show_{scope.Name}_{safeClaimName}";
                                    string editRow = $"edit_{scope.Name}_{safeClaimName}";
                                    <tr id="@showRow">
                                        <td>@claim.Name</td>
                                        <td>@claim.Description</td>
                                        <td>@claim.AlwaysIncludeInIdToken.ToString()</td>
                                        <td>
                                            <button class="btn btn-primary" onclick="$(@showRow).addClass('hidden'); $(@editRow).removeClass('hidden');">Edit</button>
                                            @using (Html.BeginForm("RemoveClaim", "Scope", new {scope = scope.Name, claim = claim.Name}, FormMethod.Post))
                                            {
                                                <button class="btn btn-default" type="submit">Delete</button>
                                            }
                                        </td>
                                    </tr>
                                    <tr id="@editRow" class="hidden edit-row">
                                        <td>
                                            @Html.EditorFor(model => claim.Name, new { @class = "claim-name" })
                                            @Html.Hidden("claimId", claimName)
                                            @Html.Hidden("scope", scope.Name)
                                        </td>
                                        <td>@Html.EditorFor(model => claim.Description, new { @class = "claim-desc"})</td>
                                        <td>@Html.EditorFor(model => claim.AlwaysIncludeInIdToken, new { @class = "claim-include" })</td>
                                        <td>
                                            <button class="btn btn-primary save" type="button">Save</button>
                                            <button class="btn btn-default" type="button" onclick="$(@showRow).removeClass('hidden'); $(@editRow).addClass('hidden');">Cancel</button>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" data-toggle="modal" data-target="#addclaim_@scope.Name">Add</button>
                            <div id="addclaim_@scope.Name" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add Claim</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form" id="addClaim" method="post">
                                                <input type="hidden" value="@scope.Name" id="scopeToAddClaim"/>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2" for="newClaim">Claim:</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="newClaim" placeholder="claim_to_add_to_scope"/>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary" data-dismiss="modal">Add</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" onclick="$('#edit_@scope.Name').removeClass('hidden'); $('#show_@scope.Name').addClass('hidden'); $('#editScopeBtn_@scope.Name').addClass('hidden'); $('editScopeCancelBtn_@scope.Name').removeClass('hidden');" id="editScopeBtn_@scope.Name">Edit</button>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(function() {
            $('.edit-row button.save').on('click', function(event) {
                var $editRow = $(this).parent('tr');
                var $showRow = $editRow.prev();
                var data = {
                    claim: {
                        Name: $editRow.find('.claim-name').val(),
                        Description: $editRow.find('.claim-desc').val(),
                        AlwaysIncludeInIdToken: $editRow.find('.claim-include').val()
                    },
                    claimId: $editRow.find('input[name=claimId]').val(),
                    scope: $editRow.find('input[name=scope]').val()
                };
                $.post('/Admin/Scope/EditClaim/', data, function(msg) {
                    $showRow.removeClass('hidden');
                    $editRow.addClass('hidden');
                });
            });
        });

            var data = {
            };
            });
    </script>
}