@using BrockAllen.MembershipReboot;

@{ 
    bool isAdmin = false;

    if(User.Identity.IsAuthenticated)
    {
        Boolean.TryParse(User.Claims.GetValue("fsw:authcentral:admin"), out isAdmin);
    }
}

<!DOCTYPE html>

<html ng-app="app" ng-controller="LayoutCtrl">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title | FSW</title>
        <meta name="viewport" content="width=device-width, initial-scale-1.0" />

        <!-- build:css -->
        <link rel="stylesheet" href="/assets/vendor-d41d8cd98f.css">
        <link rel="stylesheet" href="/assets/main-d41d8cd98f.css">
        <!-- endbuild -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"><!-- Optional Bootstrap theme -->
        <link rel="stylesheet" href="~/app/app.css"/>
    </head>
    <body >
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                    </button>
               </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                       <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Account<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu" >

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Account Details", "Details", "Home", new { area = "UserAccount" }, null)</li>
                                <li>@Html.ActionLink("Verify Your Email Account", "Verify", "Register", new { area = "UserAccount" }, null)</li>
                                <li>@Html.ActionLink("Change Email", "Index", "ChangeEmail", new { area = "UserAccount" }, null)</li>
                                <li>@Html.ActionLink("Change Password", "Index", "ChangePassword", new {area = "UserAccount"}, null)</li>
                                <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "UserAccount" }, null)</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Login", "Details", "Home", new { area = "UserAccount" }, null)</li>
                                <li>@Html.ActionLink("Register", "Index", "Register", new { area = "UserAccount" }, null)</li>
                                <li>@Html.ActionLink("Reset Password", "Index", "PasswordReset", new { area = "UserAccount" }, null)</li>
                            }

                            </ul>
                        </li>
                        @if (isAdmin)
                        {
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Server Admin<b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li>@Html.ActionLink("Clients", "Index", "Client", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Scopes", "Index", "Client", new { area = "Admin" }, null)</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">User Admin<b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li>@Html.ActionLink("User Lookup", "Index", "User", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Create Account", "Create", "User", new { area = "Admin" }, null)</li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy;@DateTime.Now.Year - FSW</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    </body>
</html>