@using BrockAllen.MembershipReboot;

@{ 
    bool isAdmin = false;

    if(User.Identity.IsAuthenticated)
    {
        Boolean.TryParse(User.Claims.GetValue("fsw:authcentral:admin"), out isAdmin);
    }
}

<!DOCTYPE html>

<html ng-app="app" ng-controller="LayoutCtrl">

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title | FSW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- build:css -->
        <link rel="stylesheet" href="/assets/vendor.css">
        <link rel="stylesheet" href="/assets/main.css">
        <!-- endbuild -->



    </head>

    <body>

        <header class="navbar navbar-fixed-top">

            <div class="container">

                <div class="row">

                    <div class="col-xs-9 clear-fix">
                        <img title="FSW" src="https://fsw-res.cloudinary.com/image/upload/v1452553297/logos/fsw-white-logo.svg" alt="FSW" class="fsw-logo">
                        <span>Auth Central</span>
                    </div>

                    <div class="col-xs-3 text-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu">
                            @if (isAdmin)
                            {
                            <li>@Html.ActionLink("Manage Users", "Index", "User", new { area = "Admin" }, null)</li>
                            <li>@Html.ActionLink("Manage Clients", "Index", "Client", new { area = "Admin" }, null)</li>
                            <li>@Html.ActionLink("Manage Scopes", "Index", "Scope", new { area = "Admin" }, null)</li>
                            <li class="bottom-border"><a href="/auth/.well-known/openid-configuration" target="_blank">Discovery Document</a></li>
                            }   
                            @if (User.Identity.IsAuthenticated)
                            {
                            <li>@Html.ActionLink("Account Details", "Edit", "Profile", new { area = "UserAccount" }, null)</li>
                            <li><a href="/auth/permissions" target="_blank">Application Permissions</a></li>

                            @if(!User.HasClaim("email_verified", "true"))
                            {
                            	<li>@Html.ActionLink("Confirm Your Email Account", "Verify", "Register", new { area = "UserAccount" }, null)</li>
                            }

                            <li class="logout">@Html.ActionLink("Logout", "Logout", "Home", new { area = "UserAccount" }, null)</li>
                            }
                            else
                            {
                            <li>@Html.ActionLink("Login", "Details", "Home", new { area = "UserAccount" }, null)</li>
                            <li>@Html.ActionLink("Register", "Index", "Register", new { area = "UserAccount" }, null)</li>
                            <li>@Html.ActionLink("Reset Password", "Index", "PasswordReset", new { area = "UserAccount" }, null)</li>
                            }
                        </ul>
                    </div>

                </div>

            </div>

        </header>

        <div class="container body-content">
            @RenderBody()
        </div>

        <footer class="container-fluid">
            &copy; @DateTime.Now.Year FSW • All rights reserved.
        </footer>

        <!-- Script Things -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        @RenderSection("scripts", required: false)

    </body>

</html>
