@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@model ClientClaim

<div class="form-group">
   @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
   <div class="col-md-10">
       @Html.TextBoxFor(model => model.Type, new {@class="form-control"})
       @Html.ValidationMessageFor(model => model.Type)
   </div>
</div>

<div class="form-group">
   @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-2" })
   <div class="col-md-10">
       @Html.TextBoxFor(model => model.Value, new {@class="form-control"})
       @Html.ValidationMessageFor(model => model.Value)
   </div>
</div>
