@{
    foreach(var prop in this.ViewData.ModelMetadata.Properties)
    {
        if (prop.ShowForEdit)
        {
            <div class="form-group">
                @if (prop.TemplateHint == "HiddenInput")
                {
                    @Html.Hidden(prop.PropertyName)
                }
                else
                {
                    @Html.Label(prop.GetDisplayName(), null, new {@class = "control-label col-sm-2 text-right"})
                    @:
                    <div class="col-sm-10">
                        @if(prop.IsReadOnly)
                        {
                            @Html.Display(prop.PropertyName)
                        }
                        else
                        {
                            if (prop.ModelType == typeof(Boolean))
                            {
                                @Html.Editor(prop.PropertyName, new { htmlAttributes = new { @class = "checkbox" } })
                            }
                            else
                            {
                                @Html.Editor(prop.PropertyName, new { htmlAttributes = new { @class = "form-control" } })
                            }

                            @Html.ValidationMessage(prop.PropertyName)
                        }
                    </div>
                }
            </div>
        }
    }
}