@model Fsw.Enterprise.AuthCentral.Areas.UserAccount.Models.UserProfileModel
@{
    Layout = "~/Areas/UserAccount/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Profile";
}

<div><em>@ViewData["Message"]</em></div>
<br />
@using (Html.BeginForm("ChangeName", "Profile", new { area = "UserAccount" }, FormMethod.Post, new { @id = "name-form", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    <label class="control-label col-md-2">Name</label>
    <div class="col-md-10" id="nameText">
        @Model.Name.Name <a href="#" onclick="$('#nameText').hide();$('#nameForm').show();">edit</a>
    </div>
    <div class="col-md-10" style="display: none" id="nameForm">
        @Html.TextBoxFor(model => model.Name.GivenName, new { @class = "form-control", @placeholder = "First" })
        @Html.TextBoxFor(model => model.Name.FamilyName, new { @class = "form-control", @placeholder = "Last" })
        @Html.ValidationMessageFor(model => model.Name.GivenName)
        @Html.ValidationMessageFor(model => model.Name.FamilyName)
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
}

    <br style="clear: both" />
@using (Html.BeginForm("ChangeEmail", "Profile", new { area = "UserAccount" }, FormMethod.Post, new { @id = "email-form", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    <label class="control-label col-md-2">Email</label>
    <div class="col-md-10" id="emailText">
        @Model.Email <a href="#" onclick="$('#emailText').hide();$('#emailForm').show();">edit</a>
    </div>
    <div class="col-md-10" style="display: none" id="emailForm">
        @Html.TextBoxFor(model => model.Email, new { @name = "NewEmail", @class = "form-control", @placeholder = "Email" })
        @Html.ValidationMessageFor(model => model.Email)
        <input type="submit" value="Send Confirmation Email" class="btn btn-success" />
    </div>
}

<br style="clear: both" />

@using (Html.BeginForm("ChangePassword", "Profile", new { area = "UserAccount" }, FormMethod.Post, new { @id = "password-form", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    <label class="control-label col-md-2">Password</label>
    <div class="col-md-10" id="passwordText">
        ********** <a href="#" onclick="$('#passwordText').hide();$('#passwordForm').show();">edit</a>
    </div>
    <div class="col-md-10" style="display: none" id="passwordForm">
        <div class="form-group">
            @Html.LabelFor(model => model.Password.OldPassword)
            @Html.PasswordFor(model => model.Password.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password.OldPassword)
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Password.NewPassword)
            @Html.PasswordFor(model => model.Password.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password.NewPassword)
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Password.NewPasswordConfirm)
            @Html.PasswordFor(model => model.Password.NewPasswordConfirm, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password.NewPasswordConfirm)
        </div>
        <br />
        <input type="submit" value="Change Password" class="btn btn-success" />
    </div>
}
<hr style="clear: both" />

<label class="control-label col-md-2">Organization</label>
<div class="col-md-10">
    @Model.Organization
</div>

<br style="clear: both" />

<label class="control-label col-md-2">Department</label>
<div class="col-md-8">
    @Model.Department
</div>