@model IdentityServer3.Core.Models.Client
@{
    ViewBag.Title = "Auth Central Client Adminstration";
}

<h4>@Model.ClientName</h4>

<ul class="nav nav-pills">
    <li><a href="../Edit/@Model.ClientId">Client</a></li>
    <li class="active"><a href="../ViewClientSecrets/@Model.ClientId">Client Secrets</a></li>
    <li><a href="EditClientClaims">Client Cliams</a></li>
    <li><a href="EditClientRedirectUris">Redirect Uri's</a></li>
    <li><a href="EditClientLogoutUris">Logout Uri's</a></li>
</ul>

@Html.ValidationSummary()
<div><em>@ViewData["Message"]</em></div>

@using (Html.BeginForm("SaveClientSecret", "Client", new {area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal"} )) {

    <h5>Client Secrets</h5>
    @Html.HiddenFor(model => model.ClientId)
    @Html.EditorFor(model=> model.ClientSecrets)

    <div class="form-group">
       <div class="col-md-offset-2 col-md-10">
           <input type="submit" value="Save" class="btn btn-success" />
       </div>
    </div>
 }

