@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models;
@model ClientModel
@{

    Layout = "~/Areas/Admin/Views/Shared/_ClientAdminLayout.cshtml";
    ViewBag.Title = "Edit Client";

}

@using (Html.BeginForm("CreateNew", "Client", new { clientId = Model.ClientId, area = "Admin" }, FormMethod.Post, new { @id="create-form", @class = "form-horizontal"} )) 
{   
   @Html.AntiForgeryToken()

   <div class="form-group">
       <div class="col-md-offset-2 col-md-2">
           <input type="button" value="Create" class="btn btn-success" onclick="javascript: document.forms['create-form'].submit();" />
       </div>
       <div class="col-md-6"></div>
   </div>

   <div class="form-group">
       @Html.LabelFor(model => model.ClientId, new { @class = "control-label col-md-2" })
       <div class="col-md-10">
           @if(!String.IsNullOrWhiteSpace(Model.ClientId))
           {
                @Html.TextBoxFor(model => model.ClientId, new { @class="form-control",  @placeholder="new_application_clientid", @disabled="disabled" })
           }
           else
           {
                @Html.TextBoxFor(model => model.ClientId, new {@class="form-control",  @placeholder="new_application_clientid"})
           }
           @Html.ValidationMessageFor(model => model.ClientId)
       </div>
   </div>

   <div class="form-group">
       @Html.LabelFor(model => model.ClientName, new { @class = "control-label col-md-2" })
       <div class="col-md-10">
           @Html.TextBoxFor(model => model.ClientName, new {@class="form-control",  @placeholder="New Application"})
           @Html.ValidationMessageFor(model => model.ClientName)
       </div>
   </div>

   <div class="form-group">
       @Html.LabelFor(model => model.ClientUri, new { @class = "control-label col-md-2" })
       <div class="col-md-10">
           @Html.TextBoxFor(model => model.ClientUri, new {@class="form-control"})
           @Html.ValidationMessageFor(model => model.ClientUri)
       </div>
   </div>

   <div class="form-group">
       @Html.LabelFor(model => model.LogoUri, new { @class = "control-label col-md-2" })
       <div class="col-md-10">
           @Html.TextBoxFor(model => model.LogoUri, new {@class="form-control"})
           @Html.ValidationMessageFor(model => model.LogoUri)
       </div>
   </div>
   
   <div class="row well well-lg" style="padding:0px">
       <div class="col-sm-12 col-md-12 col-lg-12">
           <div class="row" >
               <label class="control-label col-md-6"> Client Secret </label>
               <div class="col-md-6" align="right"> &nbsp; </div>
           </div>
           <div class="row" style="margin-top: 15px; margin-bottom: 15px;">

               <div class="form-group">
                   @Html.LabelFor(model => model.SecretValue, new { @class = "control-label col-md-2" })
                   <div class="col-md-10">
                       @Html.TextBoxFor(model => model.SecretValue, new { @class = "form-control" })
                       @Html.ValidationMessageFor(model => model.SecretValue)
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.SecretDescription, new { @class = "control-label col-md-2" })
                   <div class="col-md-10">
                       @Html.TextBoxFor(model => model.SecretDescription, new { @class = "form-control" })
                       @Html.ValidationMessageFor(model => model.SecretDescription)
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.SecretExpiration, new { @class = "control-label col-md-2" })
                   <div class="col-md-10">
                       @Html.TextBoxFor(model => model.SecretExpiration, new { @class = "form-control" })
                       @Html.ValidationMessageFor(model => model.SecretExpiration)
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.SecretType, new { @class = "control-label col-md-2" })
                   <div class="col-md-10">
                       @Html.TextBoxFor(model => model.SecretType, new { @class = "form-control" })
                       @Html.ValidationMessageFor(model => model.SecretType)
                   </div>
               </div>

           </div>
       </div>
   </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RedirectUri, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.RedirectUri, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LogoUri)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PostLogoutUri, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PostLogoutUri, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LogoUri)
        </div>
    </div>
 
   <div class="form-group">
       <div class="col-md-offset-2 col-md-2">
           <input type="button" value="create" class="btn btn-success" onclick="javascript: document.forms['create-form'].submit();" />
       </div>
   </div>
}
<hr />
