@model IdentityServer3.Core.Models.Client
@{
    ViewBag.Title = "Auth Central Client Adminstration";
}

<h3>@Model.ClientName</h3>

<ul class="nav nav-pills">
    <li><a href="../Edit/@Model.ClientId">Client</a></li>
    <li class="active"><a href="../ViewClientSecrets/@Model.ClientId">Client Secrets</a></li>
    <li><a href="EditClientClaims">Client Cliams</a></li>
    <li><a href="EditClientRedirectUris">Redirect Uri's</a></li>
    <li><a href="EditClientLogoutUris">Logout Uri's</a></li>
</ul>

<hr />

@Html.ValidationSummary()
<div><em>@ViewData["Message"]</em></div>

<div class="row">
    <div class="col-md-offset-1 col-md-2" >Client Secrets</div>
    <div class="col-sm-9" >
        <a class="btn btn-default" href="../CreateClientSecret/@Model.ClientId">Create Secret</a>
    </div>
</div>

@foreach(var clientSecret in Model.ClientSecrets)
{
    @using (Html.BeginForm("DeleteClientSecret", "Client", new {area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal"} )) {
        @Html.HiddenFor(model => model.ClientId)
        @Html.DisplayFor(model => clientSecret)

        <div class="form-group">
           <div class="col-md-offset-2 col-md-10">
               <input type="submit" value="Delete" class="btn btn-warning" />
           </div>
        </div>
    }
}

