@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
    object uUserId = ViewContext.RouteData.Values["userId"];

    string homeClass = "";
    string claimsClass = "";
    string profileClass = "";

    if ( "UserClaim".Equals(controller) )
    {
        claimsClass = "active";
    }
    else if  ("UserProfile".Equals(controller))
    {
        profileClass = "active";
    }
    else
    {
        homeClass = "active";
    }

}

@if (!string.IsNullOrWhiteSpace(ViewData["Message"]?.ToString()))
{
    <div class="alert alert-info"><em>@ViewData["Message"]</em></div>
}

<ul class="nav nav-tabs">
    <li class="@homeClass"><a href="/admin/user/">User Admin Home</a></li>
    <li class="@profileClass"><a href="/admin/userprofile/edit/@Model.UserId">Profile</a></li>
    <li class="@claimsClass"><a href="/admin/userclaim/show/@Model.UserId">Claims</a></li>
</ul>

@RenderBody()
